/* Leaflet marker cluster styles */
.rounded-cluster-icon {
  border-radius: 6px;
  background-color: darkgrey;
  padding-bottom: 6px;
  padding-left: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  color: white;
  width: 40px;
  height: 40px;
}

.rci-transparent {
  opacity: 20%;
}
